@media all and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }
}

.column {
  height: 100vh;
  width: 100%;
}
.cat1 {
  background-size: cover;
  background: blue;
}
.cat2 {
  background-size: cover;
    background: red;
}

.home{
  width:100%;
  height:100%;
}

.big_button{
  width:40%;
  margin:4%
}

body{
  background-image: url("img/Background.jpg");
}

.cmnd_button{
  width:10%;
  margin: 2%;
}

.tachie{
  width: 50%;
  /* margin-top:10%; */
  vertical-align: top;
}

.explain{
  display: inline-block;
  width: 20%;
  height:40%;
  background: white;
  border-radius: 10%;
  padding: 10%;
  border: orange double 30px;
}
