@media all and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }
}

body{
  background-image: url("img/Background2.jpg");
  font-family: sans-serif;
  font-size: 150%;
  /* height: 90vh; */
}

.column {
  height: 100vh;
  width: 100%;
}
.cat1 {
  background-size: cover;
  background: blue;
}
.cat2 {
  background-size: cover;
    background: red;
}

.home{
  width:100%;
  height:100%;
  text-align: center;
}

.big_button{
  width:30%;
  margin:4%;
}

.cmnd_button{
  width:10%;
  margin: 2%;
}

.tachie{
  width: 50vh;
  vertical-align: top;
}

.explain{
  display: inline-block;
  width: 40%;
  height: 40vh;
  background: white;
  border-radius: 10%;
  padding: 1%;
  border: orange double 30px;
}

.mondai{
  display: inline-block;
  width: 80%;
  height: 40vh;
  background: white;
  border-radius: 10%;
  padding: 1%;
  border: orange double 30px;
}

.q_tag{
  height:5%;
  vertical-align: top;
  margin-bottom: 5%;
}

.yajirusi{
  height:10%;
  vertical-align: top;
}

.q_answer{
  width: 20%;
  margin: 5%;
  margin-top:3%;
  vertical-align: top;
}