@media all and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }
}

body{
  background-image: url("img/Background2.jpg");
  font-family: sans-serif;
}



.home{
  width:100vw;
  height:100vh;
  text-align: center;
}

.big_button{
  width:30vw;
  margin:4%;
}

.cmnd_button{
  width: 10vw;
  margin: 2vw;
}

.tachie{
  vertical-align: top;
}

.explain{
  display: inline-block;
  background: white;
  border-radius: 5%;
  border: orange double 10px;
  overflow: auto;
}

@media screen and (orientation: landscape) {
  .tachie{
		height: 80vh;
	}
	
	.explain{
		padding: 1vh;	
		margin: 1vw;
		height: 70vh;
		width: calc(90vw - 80vh);
	}
}

@media screen and (orientation: portrait) {
  .tachie{
		width: 80vw;
	}
	
	.explain{
		padding: 1vw;	
		margin: 1vh;
		width: 75vw;
		height: calc(90vh - 70vw);
	}
}

.mondai{
  display: inline-block;
  width: 80vw;
  height: 40vh;
  background: white;
  border-radius: 5%;
 /*  padding: 1%; */
  border: orange double 10px;
  overflow: auto;
  
  /* マイクロソフト、firefoxでの対応 */
  /*  -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* グーグル、サファリでの対応 */
/* .mondai::-webkit-scrollbar{
  display: none;
} */

.q_tag{
  height: 7vw;
  vertical-align: top;
  margin-bottom: 5vh;
  margin-top: 2vh;
}


.q_answer{
  width: 20vw;
  margin: 5%;
  margin-top:3%;
  vertical-align: top;
}

button{
	background-color: #ffca86;
	color: black;
	margin:5px;
}

